<section class="container">

    <table cellpadding=0 and cellspacing=0>
        <thead>
            <th>Nome</th>
            <th>Email</th>
            <th>Permissoes</th>
            <th>Açoes</th>
        </thead>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.roles}}</td>
            <td class="imgs">
                <img src="../../../../assets/icons/editar.png" alt="" width="20px" (click)="selectItem(user)">
                <img src="../../../../assets/icons/excluir.png" alt="" width="20px" (click)="delete(user)">
            </td>
        </tr>
    </table>

</section>